<!DOCTYPE html>
<html>
<head>
  <title>BLOG</title>
  <link rel= "stylesheet" href="/public/stylesheet.css" />
  <script type="text/JavaScript" src="/public/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/public/java.js"></script>
</head>

<body>

  <div id="navbar">
    <ul>
      <li>
        <a href="/">Home</a></li>
    </ul>
  </div>

  <div id="addpost">
    <h1><%= title %></h1>
      <form method="POST" action="/blog/post">
        <label>Title</label><br>
        <input type = "text" name="title">
        <br>
        <label>Auther</label><br>
        <input type = "text" name="auther">
        <br>
        <label>Blog post</label><br>
        <textarea type = "text" name="post"></textarea><br><br>
        <input type = "submit" value="Submit Post"/>
      </form>
    </div>
</body>
</html>
