<!DOCTYPE html>
<html>
<head>
  <title>BLOG</title>
  <link rel= "stylesheet" href="/public/stylesheet.css" />
  <script type="text/JavaScript" src="/public/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/public/java.js"></script>
</head>

<body>

  <div id="navbar">
    <ul>
      <li>
        <a href="/">Blog Home</a></li>
      <li>
        <a href="/blog/post">Add Post</a></li>
    </ul id=list>
  </div>

<div class="row">
  <div class="column">
    <h1 id="header1"><%= title %></h1>
    <% posts.forEach(function(post){ %>
      <li id="posts"><a href="/post/<%= post._id %>"><%= post.title %>:</a>
        <p><%= post.post.slice(0, 20) %>...</p>
      </li>
      <% }) %>
      </div>
    </div>
  </div>
<br>
</body>
</html>
